{%extends 'base.html'%} {%block body%}
<div class="column">
  <input
    class="form-control form-control-sm ml-3 w-75"
    type="text"
    placeholder="Pesquisar"
    onkeyup="searchMovie(this.value)"
  />
  <div id="resultSearch"></div>
  <div class="row" id="movieSearchList"></div>
  <div style="margin-top: 5%;">
    <div class="wrapper">
      {%for i in movie[:3]%}
      <div class="card" style="margin: auto;">
        <img src="/static/src{{i.getThumb()}}" />
        <div class="descriptions">
          <h1>{{i.getName()}}</h1>
          <h3>{{i.getDescription()}}</h3>

          <button style="width: 100%;">
            <div class="wrapper">
              <a href="/movie/{{i.getCategoryId()}}/{{i.getId()}}"
                >Play
                <svg
                  class="bi bi-caret-right-fill"
                  width="50%"
                  height="50%"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                  /></svg
              ></a>
            </div>
          </button>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
</div>
<script>
  var searchMovie = function (text) {
    var xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        data = this.response;
        data = JSON.parse(data);
        console.log(data);
        if (text == "") {
          $("#movieSearchList").html("");
          document.getElementById("resultSearch").innerHTML = "";
          return false;
        }
        if (data.length > 0) {
          document.getElementById("resultSearch").innerHTML =
            '<span class="alert alert-success">' +
            data.length +
            " resultados encontrados</span>";
          document.getElementById("movieSearchList").innerHTML = "";
          for (let i = 0; i < data.length; i++) {
            const movie = data[i];
            $("#movieSearchList").append(
              '<div class="col-md-6"><div class="card">\
                <div class="card-title">' +
                movie._name +
                '</div>\
                <div class="card-body">' +
                movie._description +
                '\
                  <a href="/movie/' +
                movie._categoryId +
                '/"><img src="static/src/' +
                movie._thumbnail +
                '"></a></div>\
              </div></div>"'
            );
          }
        } else {
          document.getElementById("resultSearch").innerHTML =
            '<span class="alert alert-danger">Nenhum resultado encontrado</span>"';
          $("#movieSearchList").html("");
        }
      }
    };
    xhttp.open("GET", "/movies/search?search=" + text, true);
    xhttp.send();
  };
</script>
{%endblock%}
